<app-modal [title]="formInput ? 'Wijzig veld' : 'Nieuw veld'" (closeModal)="close()">
    <ng-container body>
        <form #setFieldForm="ngForm" id="set-field-form" (ngSubmit)="formInput ? update(setFieldForm) : create(setFieldForm)" autocomplete="off">
            <div class="form-group">
                <label for="name">Vraag</label>
                <input type="text" name="name" placeholder="Naam" id="name" [ngModel]="formInput?.name" required>
            </div>
            <div class="form-group">
                <label for="description">Omschrijving</label>
                <textarea name="description" id="description" placeholder="Omschrijving" [ngModel]="formInput?.description"></textarea>
            </div>
            <div class="form-group">
                <label for="type">Type invoerveld</label>
                <app-dropdown [ngModel]="type" name="type" id="type" ngDefaultControl required [options]="types">
                    <ng-template dropdownSelected let-selected>
                        <p>{{ selected.name }}</p>
                    </ng-template>
                    <ng-template dropdownOption let-option>
                        <p>{{ option.name }}</p>
                    </ng-template>
                </app-dropdown>
            </div>
        </form>
    </ng-container>
    <ng-container footer>
        <div class="footer-button-container">
            <button class="button primary" [disabled]="setFieldForm.invalid" form="set-field-form">
                Opslaan
            </button>
            <button class="button danger" *ngIf="formInput" (click)="remove()">
                Verwijder
            </button>
        </div>
    </ng-container>
</app-modal>