<app-modal [title]="form ? 'Wijzig formulier' : 'Nieuw formulier'" (closeModal)="close()">
    <ng-container body>
        <form #setFormForm="ngForm" id="set-form-form" (ngSubmit)="form ? update(setFormForm) : create(setFormForm)" autocomplete="off">
            <div class="form-group">
                <label for="name">Naam</label>
                <input type="text" name="name" placeholder="Naam" id="name" [ngModel]="form?.name" required>
            </div>
            <div class="form-group">
                <label for="description">Omschrijving</label>
                <textarea name="description" id="description" placeholder="Omschrijving" [ngModel]="form?.description"></textarea>
            </div>
        </form>
    </ng-container>
    <ng-container footer>
        <div class="footer-button-container">
            <button class="button primary" [disabled]="setFormForm.invalid" form="set-form-form">
                Opslaan
            </button>
        </div>
    </ng-container>
</app-modal>
