<div *ngIf="hasNode()">
    <div class="tree-run-notification">
        <div class="notification">
            <b>Notificatie</b>
        </div>
        <div class="notification-text">
            <p [innerHTML]="node.content"></p>
        </div>
    </div>

    <div class="next-node">
        <div *ngIf="hasChild();">
            <div *ngIf="childTypeIsQuestion(); else loadNotification">
                <div class="connect-line"></div>
                <app-tree-run-question [tree]=tree [nodeInput]=node.children[0] [questionCounter]=questionCounter></app-tree-run-question>
            </div>
            <ng-template #loadNotification>
                <div class="connect-line"></div>
                <app-tree-run-notification [tree]=tree [nodeInput]=node.children[0] [questionCounter]=questionCounter></app-tree-run-notification>
            </ng-template>
        </div>
    </div>
</div>
