<app-modal title="Nieuwe beslissingsboom" (closeModal)="close()">
    <ng-container body>
        <form #createTreeForm="ngForm" id="create-tree-form" (ngSubmit)="submit(createTreeForm)" autocomplete="off">
            <div class="form-group">
                <label for="name">Beslissingsboomnaam</label>
                <input type="text" name="name" id="name" placeholder="Beslissingsboomnaam" ngModel required>
            </div>
            <div class="form-group">
                <label for="description">Omschrijving</label>
                <textarea name="description" id="description" placeholder="Omschrijving" ngModel></textarea>
            </div>
        </form>
    </ng-container>

    <ng-container footer>
        <button class="button primary" [disabled]="createTreeForm.invalid" form="create-tree-form">
            Opslaan
        </button>
    </ng-container>
</app-modal>