<app-modal [title]="tree ? 'Beslissingsboom bewerken' : 'Beslissingsboom maken'" [subtitle]="tree?.name" (closeModal)="close()">
    <ng-container body>
        <form #setTreeForm="ngForm" id="set-tree-form" (ngSubmit)="tree ? update(setTreeForm) : create(setTreeForm)" autocomplete="off">
            <div class="form-group">
                <label for="name">Beslissingsboomnaam</label>
                <input type="text" name="name" id="name" placeholder="Beslissingsboomnaam" [ngModel]="tree?.name" required>
            </div>
            <div class="form-group">
                <label for="description">Omschrijving</label>
                <textarea name="description" id="description" placeholder="Omschrijving" [ngModel]="tree?.description"></textarea>
            </div>
        </form>
    </ng-container>

    <ng-container footer>
        <button class="button primary" [disabled]="setTreeForm.invalid" form="set-tree-form">
            Opslaan
        </button>
    </ng-container>
</app-modal>