<div *ngIf="tree">
    <h1 class="title">{{ this.tree.name }}</h1>

    <div *ngIf="hasRoot()" class="root-node">
        <div [ngSwitch]="rootType">
            <div *ngSwitchCase=" 'question' ">
                <app-tree-run-question [tree]="tree" [nodeInput]="tree.root" [questionCounter]="0" [previousAnswers]="previousAnswers"></app-tree-run-question>
            </div>
            <div *ngSwitchCase=" 'notification' ">
                <app-tree-run-notification [tree]="tree" [nodeInput]="tree.root" [questionCounter]="0" [previousAnswers]="previousAnswers"></app-tree-run-notification>
            </div>
            <div *ngSwitchCase=" 'form' ">
                <app-tree-run-form [tree]="tree" [nodeInput]="tree.root" [previousAnswers]="previousAnswers"></app-tree-run-form>
            </div>
            <div *ngSwitchDefault>De boom heeft geen startpunt.</div>
        </div>
    </div>
</div>
