<div *ngIf=form>
    <app-header [title]="form.name" [subtitle]="form.description"></app-header>
    <form #formForm="ngForm" (ngSubmit)="submitAnswers(formForm)">
        <ul *ngIf="form.inputs.length > 0;">
            <li class="question" *ngFor="let input of form.inputs; let i = index">
                <div [ngSwitch]="input.type.name">
                    <div *ngSwitchCase=" 'FILE' ">
                        <p class="question-text bold">{{ input.name }}</p>
                        <p class="description">{{ input.description }}</p>
                        <label for="file" class="file-input">
                            <p>Klik <span class="bold">hier</span> om een bestand toe te voegen</p>
                            <p class="file-input-info">Alleen pdf, png, jpeg, csv, Word, Excel en zip bestanden zijn toegestaan</p>
                            <input required type="file" id="file" [name]="input.name" #file (change)="handleFileInput($event.target, file)">
                        </label>
                    </div>
                    <div *ngSwitchCase=" 'TEXT' ">
                        <p class="question-text bold">{{ input.name }}</p>
                        <p class="description">{{ input.description }}</p>
                        <input required type="text" class="textfield" ngModel [name]="input.name" placeholder="Antwoord">
                    </div>
                </div>
            </li>
        </ul>
        <div class="submit-button">
            <button [disabled]="formForm.invalid" class="button primary">
                Bevestigen
            </button>
        </div>
    </form>
    <ng-container appPlaceholder></ng-container>
</div>
