<main *ngIf="node">
    <div class="tree-run-question-container">
        <div class="question-number">
            <b>Vraag {{ questionCounter }}</b>
        </div>
        <div class="question-text">
            <p>{{ node.content }}</p>
        </div>

        <form #answerForm="ngForm" (ngSubmit)="confirmAnswer(answerForm)" class="selected-answer-container" *ngIf="hasAnswers()">
            <app-dropdown class="dropdown" [ngModel]="selectedAnswer" name="selectedAnswer" id="selectedAnswer" ngDefaultControl required [options]="answers">
                <ng-template dropdownSelected let-selected>
                    <p>{{ selected.content }}</p>
                </ng-template>
                <ng-template dropdownOption let-option>
                    <p>{{ option.content }}</p>
                </ng-template>
            </app-dropdown>

            <button class="button primary">
                Bevestigen
            </button>
        </form>
    </div>
</main>

<div class="next-node">
    <div *ngIf="answerConfirmed">
        <div *ngIf="hasChildNode(); else endOfTree">
            <div *ngIf="nextQuestion; else loadNotification">
                <div class="connect-line"></div>
                <app-tree-run-question [tree] = tree [nodeInput] = selectedAnswer.children[0] [questionCounter] = questionCounter></app-tree-run-question>
            </div>
            <ng-template #loadNotification>
                <div class="connect-line"></div>
                <app-tree-run-notification [tree] = tree [nodeInput] = selectedAnswer.children[0] [questionCounter] = questionCounter></app-tree-run-notification>
            </ng-template>
        </div>
        <ng-template #endOfTree>
            <div class="tree-end">
                <p>Dit is het einde van de boom</p>
            </div>
        </ng-template>
    </div>
</div>