@import "/src/app/shared/variables";

.tree-run-question {
    padding: 20px;
    background-color: $color-white;
    box-shadow: $shadow;
    border-radius: $border-radius;
    display: flex;
    align-items: center;
}


