<main *ngIf="node">
    <div class="tree-run-question-container">
        <div class="question-number">
            <b>Vraag {{questionCounter}}</b>
        </div>
        <div class="question-text">
            <p>{{ node.content }}</p>
        </div>


        <div class="selected-answer" *ngIf="answersCheck">
            <div class="dropdown">
                <div class="form-group">
                    <app-dropdown [(ngModel)]="selectedAnswer" name="selectedAnswer" id="selectedAnswer" ngDefaultControl required [options]="answers">
                        <ng-template dropdownSelected let-selected>
                            <p>{{ selected.name }}</p>
                        </ng-template>
                        <ng-template dropdownOption let-option>
                            <p>{{ option.name }}</p>
                        </ng-template>
                    </app-dropdown>
                </div>
            </div>

            <div class="next-node-button">
                <button class="button primary" (click)="confirmAnswer()">
                    Bevestigen
                </button>
            </div>
        </div>
    </div>
</main>


<div class="next-node">
    <div *ngIf="answerConfirmed">
        <div *ngIf="nextNode; else endOfTree">
            <div *ngIf="nextQuestion; else loadNotification">
                <div class="connect-line"></div>
                <app-tree-run-question [treeID] = treeID [nodeID] = selectedAnswer.value.children[0].id [questionCounter] = questionCounter></app-tree-run-question>
            </div>
            <ng-template #loadNotification>
                <div class="connect-line"></div>
                <app-tree-run-notification [treeID] = treeID [nodeID] = selectedAnswer.value.children[0].id [questionCounter] = questionCounter></app-tree-run-notification>
            </ng-template>
        </div>
        <ng-template #endOfTree>
            <div class="tree-end">
                <p>Dit is het einde van de boom</p>
            </div>
        </ng-template>
    </div>
</div>