<app-modal [title]="question ? 'Wijzig vraag' : 'Nieuwe vraag'" [subtitle]="question?.content" (closeModal)="close()">
    <ng-container body>
        <form #setQuestionForm="ngForm" id="set-question-form" (ngSubmit)="question ? update(setQuestionForm) : create(setQuestionForm)" autocomplete="off">
            <div class="form-group">
                <label for="content">Vraag</label>
                <input type="text" name="content" placeholder="Vraag" id="content" [ngModel]="question?.content" ngModel required>
            </div>
            <div class="form-group">
                <label for="tree-root">Maak vraag start van boom</label>
                <app-toggle name="tree-root" [(ngModel)]="isRoot" #validations="ngModel" required></app-toggle>
                {{ isRoot }}
            </div>
            <div class="form-group">
                <label for="">Type vraag</label>
            </div>
        </form>
    </ng-container>
    <ng-container footer>
        <div class="footer-button-container">
            <button class="button primary" [disabled]="setQuestionForm.invalid" form="set-question-form">
                Opslaan
            </button>
            <button class="button danger" *ngIf="question" (click)="remove()">
                Verwijder
            </button>
        </div>
    </ng-container>
</app-modal>