<app-modal [title]="notification ? 'Wijzig notificatie' : 'Nieuwe notificatie'" [subtitle]="'Beslissingsboom: ' + tree.name" (closeModal)="close()">
    <ng-container body>
        <form #setNotificationForm="ngForm" id="set-notification-form" (ngSubmit)="notification ? update(setNotificationForm) : create(setNotificationForm)" autocomplete="off">
            <div class="form-group">
                <label for="content">Notificatie</label>
                <textarea name="content" placeholder="Notificatie" id="content" [ngModel]="notification?.content" required></textarea>
            </div>
            <div class="form-group" *ngIf="!isRoot">
                <label for="tree-root">Maak notificatie start van boom</label>
                <app-toggle name="treeRoot" [ngModel]="isRoot" required></app-toggle>
            </div>
        </form>
    </ng-container>
    <ng-container footer>
        <div class="footer-button-container">
            <button class="button primary" [disabled]="setNotificationForm.invalid" form="set-notification-form">
                Opslaan
            </button>
            <button class="button danger" *ngIf="notification" (click)="remove()">
                Verwijder
            </button>
        </div>
    </ng-container>
</app-modal>