#change-acount-details, #change-password{
    margin-top:15px;
}
p.succes-message-change-employee-details {
    display: inline-block;
    margin-left: 20px;
}
.text-change-password{
    margin-top:40px;
}
fa-icon.ng-fa-icon.succesicon {
    color: green;
    margin-right: 5px;
}
