@import "/src/app/shared/variables";

.header-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    & > * {
        margin: 0 10px;
    }
}

.question-container {

    .top-bar {
        margin-bottom: 15px;
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-gap: 15px;

        button {
            justify-self: flex-start;

            fa-icon {
                margin-right: 10px;
            }
        }

        .right {
            justify-self: flex-end;

            display: grid;
            grid-template-columns: 300px 1fr;
            grid-gap: 15px;

            li {
                
                button {
                    height: 100%;
                }

                &#search-bar-container {
                    position: relative;
                    width: 100%;

                    input {
                        width: 100%;
                    }
                }
            }
        }

        @media only screen and (max-width: 750px) {
            grid-template-columns: 1fr;

            .right {
                justify-self: stretch;
                display: flex;

                button {
                    justify-self: stretch;
                }

                @media only screen and (max-width: 400px) {
                    flex-direction: column;

                    li {
                        flex-grow: 1;
                        display: flex;

                        button {
                            flex-grow: 1;
                            max-width: none;
                        }
                    }
                }
            }
        }

    }

    .nodes-container {
        display: grid;
        grid-gap: 20px;

        .indent {
            margin-left: 30px;
        }
    }
}

@media only screen and (max-width: 520px) {
    // .question-container .
}