<div class="node-container">
    <header>
        <p class="type">
            <ng-container [ngSwitch]="node.type">
                <ng-container *ngSwitchCase="types.question">Vraag {{ node.id }}</ng-container>
                <ng-container *ngSwitchCase="types.answer">Antwoord {{ node.id }}</ng-container>
                <ng-container *ngSwitchCase="types.notification">Notificatie {{ node.id }}</ng-container>
                <ng-container *ngSwitchCase="types.form">Meldingsformulier {{ node.formInfo.form.id }}</ng-container>
            </ng-container>
        </p>
        <p class="title">{{ node.content | htmlStripper }}</p>
    </header>
    <section class="node-content">
        <ul>
            <li *ngIf="graph.edges[node.id] && graph.edges[node.id].length !== 0 && !isQuestion() && !isCurrentTop"><fa-icon [icon]="icons.faArrowDown" class="arrow"></fa-icon></li>
            <li *ngIf="isQuestion()">
                {{ graph.edges[node.id].length }}
                <ng-container *ngIf="graph.edges[node.id].length === 1">
                    antwoord
                </ng-container>
                <ng-container *ngIf="graph.edges[node.id].length !== 1">
                    antwoorden
                </ng-container>
            </li>
            <li *ngIf="isRoot()"><fa-icon [icon]="icons.faTree"></fa-icon> start</li>
        </ul>
        <ul class="right">
            <ng-container *ngIf="isQuestion()">
                <li>
                    <button (click)="setAnswer()">
                        <fa-icon [icon]="icons.faPlus"></fa-icon>
                        Nieuw antwoord
                    </button>
                </li>
                <li>
                    <button (click)="editQuestion()">
                        <fa-icon [icon]="icons.faPen"></fa-icon>
                        Wijzig
                    </button>
                </li>
                <li *ngIf="!isCurrentTop">
                    <button (click)="expandNode(node)">Uitklappen <fa-icon [icon]="icons.faChevronRight"></fa-icon></button>
                </li>
            </ng-container>
            <ng-container *ngIf="isForm()">
                <li>
                    <button [routerLink]="['/employees', 'forms', node.formInfo.form.id]">Naar meldingsformulier <fa-icon [icon]="icons.faChevronRight"></fa-icon></button>
                </li>
            </ng-container>
            <ng-container *ngIf="isNotification()">
                <li>
                    <button (click)="unlink()" *ngIf="hasChildren()">
                        <fa-icon [icon]="icons.faUnlink"></fa-icon>
                        Ontkoppel
                    </button>
                    <button (click)="linkNode()" *ngIf="!hasChildren()">
                        <fa-icon [icon]="icons.faLink"></fa-icon>
                        Koppel
                    </button>
                </li>
                <li>
                    <button (click)="editNotification()">
                        <fa-icon [icon]="icons.faPen"></fa-icon>
                        Wijzig
                    </button>
                </li>
            </ng-container>
            <ng-container *ngIf="isAnswer()">
                <li>
                    <button (click)="unlink()" *ngIf="hasChildren()">
                        <fa-icon [icon]="icons.faUnlink"></fa-icon>
                        Ontkoppel
                    </button>
                    <button (click)="linkNode()" *ngIf="!hasChildren()">
                        <fa-icon [icon]="icons.faLink"></fa-icon>
                        Koppel
                    </button>
                </li>
                <li>
                    <button (click)="setAnswer()">
                        <fa-icon [icon]="icons.faPen"></fa-icon>
                        Wijzig
                    </button>
                </li>
            </ng-container>
        </ul>
    </section>
    <section class="node-children" *ngIf="!isQuestion() && graph.edges[node.id].length > 0 && !isCurrentTop">
        <ng-container *ngFor="let id of graph.edges[node.id]">
            <app-node-container
                *ngIf="graph.nodes[id]"
                [tree]="tree"
                [node]="graph.nodes[id]"
                [previousNode]="node"
                [topNode]="topNode"
                [graph]="graph"
                (expand)="expandNode($event)">
            </app-node-container>
        </ng-container>
    </section>

    <ng-container appPlaceholder></ng-container>
</div>
