<div class="node-container">
    <header>
        <p class="type">{{ type }} {{ node.id }}</p>
        <p class="title">{{ node.content }}</p>
    </header>
    <section class="node-content">
        <ul>
            <li *ngIf="!isRoot() && graph.edges[node.id] && graph.edges[node.id].length !== 0 && !isQuestion()"><fa-icon [icon]="icons.faArrowDown" class="arrow"></fa-icon></li>
            <li *ngIf="isQuestion()">{{ graph.edges[node.id].length }} antwoorden</li>
            <li *ngIf="isRoot()">start</li>
        </ul>
        <ul class="right">
            <ng-container *ngIf="isQuestion()">
                <li>
                    <button>Wijzig</button>
                </li>
                <li *ngIf="!isCurrentTop">
                    <button (click)="expandQuestion(node)">Uitklappen <fa-icon [icon]="icons.faChevronRight"></fa-icon></button>
                </li>
            </ng-container>
            <ng-container *ngIf="isNotification()">
                <li>
                    <button>Nieuwe notificatie</button>
                </li>
                <li>
                    <button>Nieuwe vraag</button>
                </li>
                <li>
                    <button>Wijzig</button>
                </li>
            </ng-container>
            <ng-container *ngIf="isAnswer()">
                <li>
                    <button>Wijzig</button>
                </li>
            </ng-container>
        </ul>
    </section>
    <section class="node-children" *ngIf="!isQuestion() && graph.edges[node.id].length > 0">
        <app-node-container *ngFor="let id of graph.edges[node.id]" [tree]="tree" [node]="graph.nodes[id]" [graph]="graph" (expand)="expandQuestion($event)"></app-node-container>
    </section>
</div>