<nav class="topnav" id="myTopnav">
    <div class="container">
        <a [routerLink]="['employees/trees']" class="active">Beslisbomen</a>
        <!-- <a [routerLink]="['employees/admin']" >Administratiepaneel</a>
        <a [routerLink]="['settings']" >Instellingen</a> -->
        <a (click)="logout()">Uitloggen</a>
        <a (click)="dropdown()" class="icon">
            <div class="bun">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </a>
    </div>
</nav>
