@import "/src/app/shared/variables";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $color-black;
	background-color: rgb(252, 252, 252);
	overflow-x: hidden;
	height: 100%;
    font-weight: normal;
    font-size: 14px;
}

ul {
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color-black;
	display: inline-block;
}

h1 {
    font-size: 1.6rem;
    font-family: "Noto Sans JP", Helvetica, Arial, sans-serif;
}

a,
p,
li {
	font-size: 14px;
	text-decoration: none;
	color: $color-black;
	font-weight: 400;
}

hr {
	opacity: 0.2;
}

.container {
	position: relative;
	margin: 0 auto;
	max-width: 1000px;
	height: auto;
	padding: 0 20px;
	overflow: visible;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

.button {
    padding: 10px 15px;
    border: none;
    border-radius: $border-radius;
    transition: .3s;
    max-width: max-content;
    font-size: 13px;
    background-color: $color-gray-200;
    white-space: nowrap;

    fa-icon {
        margin-right: 7px;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &:not(:disabled) {
        cursor: pointer;

        &:hover {
            filter: brightness(93%);
        }
    }

    &.primary {
        background-color: $color-primary;
    }

    &.danger {
        background-color: $color-red-600;
        color: $color-white;
    }

    &.warning {
        background-color: $color-orange-500;
        color: $color-white;
    }
}

form {
    .form-group {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        label {
            font-weight: bold;
            font-size: 11px;
            text-transform: uppercase;
            margin-bottom: 5px;
            color: $color-gray-600;
        }
    }
}

input, textarea {
    padding: 10px 15px;
    border-radius: $border-radius;
    border: 1px solid $color-gray-200;
    background-color: $color-gray-100;
    font-family: inherit;
    display: block;
}

textarea {
    resize: none;
    height: 100px;
}

.nav-con {
    min-height: 80px;
    height: 80px;
    background-color: $color-white;
    box-shadow: $shadow;
    margin-bottom: 30px;
    border-top: 15px solid $color-primary;

}
@media only screen and (min-width: 767px) {
    .nav-container {
        display: flex;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;
        align-items: center;
    }
}
.caption {
    font-size: 13px;
    color: $color-gray-600;
    max-width: 400px;
    margin-top: 5px;

}

span.bold {
    font-weight: bold;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid #fff;
}

nav li a {
    display: block;
    text-decoration: none;
    margin-left: 10px;
    padding:0px 15px;
}


nav li a:hover,
nav .menu-btn:hover {
    text-decoration: underline;
}

nav .logo {
    display: none;
    float: left;
    font-size: 2em;
    text-decoration: none;
    margin-top:10px;

}
nav li {
    float: left;
}
nav .menu {
    clear: none;
    max-height: none;
}

ul.menu.left{
    float:left;
}
ul.menu.left a, .menupublic li a{
    font-weight: bold;
}
ul.menu.right{
    float:right;
    margin-left: auto;
}
nav .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    background: #fae41a;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

nav .menu-icon .navicon {
    background: #000;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

nav .menu-icon .navicon:before,
nav .menu-icon .navicon:after {
    background: #000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

nav .menu-icon .navicon:before {
    top: 5px;
}

nav .menu-icon .navicon:after {
    top: -5px;
}

nav .menu-btn {
    display: none;
}

nav .menu-btn:checked ~ .menu {
    max-height: 240px;
}

nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

nav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

nav .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
@media (max-width: 767px) {
    nav.nav-container.container {
        padding: 0;
    }
    nav .logo {
        display: block;
        float: left;
        margin-left: 15px;
        text-align: unset;
    }
    .nav-con {
        min-height: unset;
        height: unset;
    }
    nav li {
        float: unset;
        display: unset;
    }
    nav .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        text-align: center;
    }
    nav ul {
        border-bottom: none;
    }

    ul.menu.left {
        float: unset;
    }
    ul.menu.left a{
        font-weight: unset;
    }
    ul.menu.right {
        float: unset;
    }
    nav li a {
        margin-left: 0px;
        padding: 15px 0px;
    }
    .nav-con {
        position: fixed;
        width: 100%;
        z-index: 100;
        border-top: unset;
    }
}
@media (min-width: 767px) {
    nav .menu-icon {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    nav {
        height: auto;
        padding: 10px;

        .nav-container {
            flex-direction: column;

            ul {
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                li {
                    margin: 10px 0;
                }

                &.right {
                    margin-left: 10px
                }
            }
        }
    }
}
